doctype html
html
  head
    title= title
  body
    h1= title
    form(method='POST', action='/login')
      div
        label(for='username') Username:
        input(type='text', name='username', id='username')
      div
        label(for='password') Password:
        input(type='password', name='password', id='password')
      div
        button(type='submit') Login
